#container {
  height: 568px;
  width: 100%;
}

#power {
  height: 250px;
  width: 25%;
  float: left;
  font-size: 80px;
  font-weight: bold;
  color: #333238;
  background-color: gray;
  text-align: center;
  position: relative;
}
#toggle {
  background-color:  #d3d3d3;
  height: 125px;
  width: 100%;
  position: absolute;
  bottom: 0.5%;
}

#toggle.on {
  top: 0.5%;
  background-color: #00a1ff;

}
#power.on {
}

#led {
  height: 25px;
  width: 25px;
  background-color: black;
}
#led.on {
  background-color: red;
}
#screen {
  height: 250px;
  width: 75%;
  float: left;
  color: #f2f2f2;
  background-color: #324E5C;
}

#digits {
  float: right;
  margin-top: 7%;
  margin-right: 7%;
  font-size: 130px;
}

.pad {
  width: 50%;
  height: 650px;
  float: left;
}

#pad-0.click {
  background-color: #21a533;
}
#pad-1.click {
  background-color: #bc2b40;
}
#pad-2.click {
  background-color: #af9338;
}
#pad-3.click {
  background-color: #246c72;
}
#pad-0 {
  background-color: #30e849;
}
#pad-1 {
  background-color: #F73955;
}
#pad-2 {
  background-color: #EEC84C;
}
#pad-3 {
  background-color: #38A3AC;
}

#start {
  width: 50%;
  height: 175px;
  background-color: #DBDEB5;
  float: left;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  color: #333238;
}
#strict {
  width: 50%;
  height: 175px;
  background-color: #DBDEB5;
  float: left;
  text-align: center;
  font-size: 72px;
  color: #333238;
  font-weight: bold;
}
